<div>
    <h1 style="color: orange">Hello moebel!</h1>
    <pre>Name: {{ name }}</pre>
    <pre>Job: {{ job }}</pre>
    <h2>Skills:</h2>
    {% for skill in skills%}
        <ul>
            <li>
                {% autoescape false %}
                    <form method="post" action="{{ path('delete_items') }}">
                        {{ skill }}
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit"> Delete! </button>
                    </form>
                {% endautoescape %}
            </li>
        </ul>
    {% endfor %}
    <form method="post" action="{{ path('save_items') }}">
        <input type="text" name="nameOfSkill" placeholder="Add new skills">
        <button type="submit">Add</button>
    </form>
    {#    <script>        alert("haha i hacked you")    </script>#}
</div>
