<div>
    <h1 style="color: orange">Hello moebel!</h1>
    <h2>Skills:</h2>
    {% for skill in skills%}
        <ul>
            <li>
                {% autoescape false %}
                    <form method="post" action="{{ path('delete_items') }}">
                        {{ skill.name }}<br>
                        {{ skill.text }}
                        <input type="hidden" name="index" value="{{ skill.id }}">
                        <button type="submit"> Delete! </button>
                    </form>
                {% endautoescape %}
            </li>
        </ul>
    {% endfor %}
    <form method="post" action="{{ path('save_items') }}">
        <input type="text" name="nameOfSkill" placeholder="Add new skills"><br><br>
        <textarea name="text" rows="4" placeholder="Add description of your skills"></textarea>
        <button type="submit">Add</button>
    </form>
{#    <form method="post" action="{{ path('save_items') }}">#}
{#        <input type="text" name="infoOfSkill" placeholder="Add new skills">#}
{#        <button type="submit">Add</button>#}
{#    </form>#}
    {#    <script>        alert("haha i hacked you")    </script>#}
</div>
